* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 90%;
}

p {
  font-weight: 400;
  color: #999;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  background-color: #5368df;
}

nav li {
  font-weight: 500;
  font-size: 12px;
}

nav .btn {
  background-color: #fa5757;
  color: white;
  font-size: 10px;
  letter-spacing: 1.5px;
}

header .btn {
  font-size: 0.8rem;
}

#shape {
  position: absolute;
  z-index: -1;
  background-color: #5368df;
  width: 60%;
  height: 200px;
  border-radius: 50%;
  top: 100px;
  left: 75px;
}

#shape::after {
  position: absolute;
  content: "";
  background-color: #5368df;
  width: 200px;
  height: 200px;
  left: 100px;
}

/* Nav */

#section__nav .container .dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#section__nav .container .dropdown-menu:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Features */
#section__features p {
  max-width: 500px;
}

#section__features span {
  color: #252b46;
  font-size: 1.1rem;
  font-weight: 500;
}

#section__features span:hover {
  border-bottom: 3px solid #fa5757;
}

/* features buttons */

#features__nav button:focus {
  color: black;
}

#features__nav button {
  position: relative;
  font-size: 1rem;
  color: #555;
  background: white;
  border: none;
  border-top: 1px solid #aaa;
}

#features__nav button:last-child {
  border-bottom: 1px solid #aaa;
}

#features__nav button:focus:after {
  content: "";
  position: absolute;
  background-color: #fa5757;
  width: 150px;
  height: 3px;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0 auto;
}

/* Download */
#section__download .card span {
  font-size: 0.8rem;
  color: #aaa;
}

/* FAQ */
.accordion-button::after {
  background-image: url("./images/icon-arrow.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./images/icon-arrow-down.svg");
}

.accordion-button:not(.collapsed) {
  color: black;
  background: white;
}

/* Newsletter */
#section__newsletter {
  background-color: #5368df;
}
#section__newsletter .newsletter-body {
  max-width: 375px;
}

#section__newsletter span {
  letter-spacing: 5px;
  font-size: 0.8rem;
}

#section__newsletter button {
  background-color: #fa5757;
  font-size: 0.8rem;
}

#section__newsletter form {
  position: relative;
}

#section_newsletter form .error-message {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #fa5757;
  text-align: center;
}

#section__newsletter input:invalid {
  border: 2px solid #fa5757;
  border-radius: 5px;
}

/* #section__newsletter input:invalid + .error-message {
  display: block;
} */

/* Footer */

#section__footer {
  background-color: #252b46;
}

#section__footer li {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 80%;
  }

  #card__2 {
    top: 40px;
  }

  #card__3 {
    top: 80px;
  }

  #features__nav button {
    border-top: none;
    border-bottom: 1px solid grey;
  }

  #features__nav button:focus:after {
    content: "";
    position: absolute;
    background-color: #fa5757;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
  }
}
